############################################################################################
################## need to install for github_monitor project ######################
############################################################################################
# how to use:
# python -m pip install -r requirements.txt
############################################################################################

requests ~= 2.25.1
numpy ~= 1.19.5
pandas ~= 1.2.0
SQLAlchemy ~= 1.3.22
dispy ~= 4.12.3
pywin32 ~= 300